{% extends 'autenticacao/base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
<h2>Chat</h2>
<input id="chat-message-input" type="text" size="100">
<input id="chat-message-submit" type="button" value="Enviar">
<div id="chat-log" class="chat-log"></div>
<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/'
    );

    chatSocket.onopen = function(e) {
        console.log('WebSocket connection opened');
    };

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const messageElement = document.createElement('div');
        messageElement.className = 'chat-message';
        messageElement.innerHTML = `<strong>${data.username}:</strong> ${data.message}`;
        document.querySelector('#chat-log').appendChild(messageElement);
        console.log('Message received:', data.message);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onerror = function(e) {
        console.error('WebSocket error observed:', e);
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const username = "{{ request.user.username }}"; // Passando o nome de usuário do Django template
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username
        }));
        messageInputDom.value = '';
        console.log('Message sent:', message);
    };
</script>
{% endblock %}
